* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body {
    background-color: #706969;
    color: #dfd2d2;
    /* background-color: #f5f5f5;
    color: #333; */
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: 600;

    word-wrap: break-word;
}

#about,
#skills,
#project,
#contact,
#resume {
    scroll-margin-top: 100px;
}

.heading {
    font-size: x-large;
}

.sub-heading {
    font-size: xx-large;
}

img {
    pointer-events: none;
    user-select: none;
}

header {
    background-color: #0f172a;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    padding: 20px;
}

.logo {
    width: 150px;
    height: 80px;
    padding-left: 16px;

    display: flex;
    align-items: center;
}

.logo img {
    object-fit: cover;
}

.nav-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding-right: 35px;
    position: absolute;
    right: 0;
}

.nav-bar ul:first-child {
    /* display: none; */
}

.hamberger {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    display: none;
    margin-right: 9px;
    cursor: pointer;
}

.hamberger img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.hamberger--container {
    position: fixed;
    inset: 0;
    z-index: 2000;
    pointer-events: none;
    /* important */
}

.hamberger--content {
    position: fixed;
    inset: 0;

    background-color: #706969;
    color: #dfd2d2;

    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    opacity: 1;

    transform: translateX(100%);
    opacity: 0;

    transition: transform .5s ease, opacity .5s ease;
    pointer-events: none;
}

.hamberger--content--active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.hamberger--content div:first-child {
    background-color: #0f172a;
}

.hamberger-active {
    width: 40px;
    height: 40px;
    border: 2px solid;
    margin: 10px;
}

.hamberger-active {
    border: 2px solid white;
}

.hamberger--nav {
    padding: 0 8px;
}

.hamberger--nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
}


.hamberger--nav li {
    width: 95vw;
    height: 55px;
    display: flex;
    align-items: center;

}

.hamberger--btn {
    width: 100%;
    height: 30px;
    background-color: white;
    background-color: #222;
    color: #dfd2d2;
    text-decoration: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 21px;

}

.hamberger-bracker {

    margin: .6px 0;
    width: 95.7vw;

}




.btn {
    padding: 5px 12px;
    background-color: #0f172a;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-size: small;
    transition: background-color 1s ease, color .1s ease;
}

.btn:hover {
    background-color: white;
    color: #0f172a;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

#home {

    padding: 20px;
    line-height: 42px;
    background-color: #222;
    border-radius: 22px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);

}



.social {

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 26px;

}

.social a {

    text-decoration: none;
    color: white;

}

.bracker {

    margin: 22px 0;
    width: 95.7vw;

}

#about {

    background-color: #222;
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
}

.img {

    padding: 22px 0;

}

.img img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}

.intro {

    padding-top: 15px;

}

.edu {

    padding-top: 15px;

}

.drive {

    padding-top: 15px;

}

.fun-fact {

    padding-top: 15px;

}

.frontend {

    margin-top: 13px;

}

.frontend ul {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    list-style-type: none;
    padding: 4px 0;

}

.frontend li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontend li:first-child img {
    width: 20px;
}

.frontend li:nth-child(2) img {
    width: 17px;
}

.frontend li:nth-child(3) img {
    width: 21px;
}

.tools {

    padding-top: 13px;

}

#skills {

    background-color: #222;
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);

}


#project {
    padding-top: 33px;
    background-color: #222;
    border-radius: 22px;
    padding: 20px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);


}

#project h1 {

    padding: 12px;
    padding-bottom: 16px;
}

.project--content {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;

}

.project--card {

    width: 350px;
    min-height: 322px;

    /* height: auto; */
    padding: 15px;
    background-color: white;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    color: #0f172a;
    transition: background-color .5s ease, transform .5s ease, box-shadow .5s ease;

}

.project--card:hover {

    transform: scale(102%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    background-color: rgb(230, 228, 228);

}

.project--card img {

    width: 320px;
    height: 180px;
    border-radius: 8px;
    border: 2px solid rgb(250, 219, 180);
    object-fit: cover;
    object-position: left;

}

.project--card__about {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.project--card__about:first-child {
    display: flex;
    flex-direction: column;
}

.project--card__about h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.project--card__about p {

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
    flex: 1;
}



.project--card__about div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
}

.project--card__about>div a {
    text-decoration: none;
    color: white;
}

#contact {

    padding-top: 33px;
    background-color: #222;
    border-radius: 22px;
    padding: 20px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);

}

#contact h1 {

    padding: 12px;
    padding-bottom: 16px;

}

.field {
    margin: 22px 0;
    display: flex;
    flex-direction: column;
}

.field label {
    padding: 2px;

}

.field input {

    width: 300px;
    height: 32px;
    padding-left: 12px;
    border-radius: 8px;
    border: none;

}

.field textarea {

    border-radius: 8px;
    border: none;
    padding-left: 12px;
    padding-top: 12px;
}



form button {

    width: 122px;
    height: 30px;
    background-color: #38cc16;
    border: 2px solid white;
    border-radius: 4px;
    color: #222;
    font-weight: bold;
    transition: background-color .5s ease, color .5s ease;

}

form button:hover {

    background-color: #91f07b;
    color: #030303;

}

.mail {

    margin: 22px 0;

}

.mail p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mail a {
    padding: 10px 40px;
    background-color: white;
    color: #222;
    border-radius: 16px;
    margin: 0 12px;
    text-decoration: none;

    transition: text-decoration .3s ease, color .5s ease;
}

.mail a:hover {
    text-decoration: underline;
    color: #706969;
}

.presentAt {

    /* margin-top: 32px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

}

.presentAt div {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

}

.presentAt a {

    color: white;
    text-decoration: none;

}

#resume {

    padding-top: 33px;
    background-color: #222;
    border-radius: 22px;
    padding: 20px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    gap: 20px;
}

.resume-image img {
    width: 100px;
}

.resume-about {

    display: flex;
    flex-direction: column;
    gap: 4px;

}

.resume-action {
    margin-top: 8px;
    display: flex;
    gap: 15px;
}


#resume a {
    text-decoration: none;
}

.secound-end {
    margin-bottom: 80px;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.reveal>* {
    transition-delay: 0.2s;
}


footer {
    border-top: 2px solid #ffffff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #0f172a;
    padding: 0 20px;
    box-shadow: -3px -3px 20px 0px;
}

.cradit h2 {

    padding-top: 8px;

}

.formsubmit {
    display: flex;
    align-items: center;
    gap: 4px;
}

.formsubmit img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: left;
}

.rights {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (max-width:650px) {

    .logo {

        width: 100px;
        height: 60px;
        padding-left: 12px;

    }

    .nav-bar {
        height: 80px;
        display: flex;
    }

    .nav-bar ul {
        padding-right: 20px;
    }

}


@media (max-width:590px) {

    .logo {
        width: 90px;
        padding-left: 8px;
    }

    .nav-bar {
        height: 70px;
    }

    .nav-bar ul {

        gap: 7px;
        padding-right: 10px;

    }

    .mail a {
        padding: 10px 20px;
        /* margin: 0 12px; */
        margin-top: 10px;
    }

}


@media (max-width:550px) {

    .logo img {
        width: 115px;
        padding-left: 6px;
    }

    .btn {
        padding: 5px 6px;
        font-size: small;
    }

}

@media (max-width:455px) {

    .bracker {
        width: 90vw;
    }

    .logo {
        padding-left: 4px;
        width: fit-content;
        /* height: fit-content; */
    }

    .logo img {
        width: 100px;
        height: 100px;
        padding-left: 6px;
    }

    .btn {
        padding: 5px 5px;
        font-size: .8rem;
    }

    .nav-bar ul {

        gap: 10px;
        padding-right: 6px;
    }

}

@media (max-width:455px) {

    .nav-bar ul {

        gap: 8px;
        padding-right: 6px;
    }

    .btn {
        padding: 3px 3px;
        font-size: .8rem;
    }

    .project--card {
        width: 300px;
    }

    .project--card img {
        width: 100%;
    }

}

@media (max-width:420px) {

    .nav-bar {
        height: 50px;
    }

    .logo {
        padding: 0;
    }

    .logo img {
        width: 80px;
        height: 80px;
        padding-left: 6px;
    }

    .nav-bar ul {

        gap: 8px;
        padding-right: 5px;
    }

    .btn {
        padding: 5px 4px;
        font-size: .7rem
    }

}


@media (max-width:380px) {

    .bracker {
        width: 88vw;
    }

    .field {
        justify-content: center;
        align-items: center;
    }

    .field input {
        max-width: 200px;
        width: auto;
    }

    .field textarea {
        width: 200px;
        height: 100px;
    }

    .mail a {
        padding: 10px 10px;
        margin: 0;
        margin-top: 6px;
        font-size: small;
    }

    #resume {
        flex-direction: column;
    }


}

@media (max-width:360px) {


    .logo img {
        width: 80px;
        height: 80px;
        padding-left: 6px;
    }

    .nav-bar ul {

        gap: 6px;
        padding-right: 5px;
    }

    .btn {
        padding: 5px 4px;
        font-size: .7rem
    }

}

@media (max-width:350px) {

    h1 {
        font-size: 1.5rem;
    }

    .logo {
        margin-left: 8px;
    }

    .logo img {
        width: 100px;
    }

    .nav-bar ul:first-child {
        display: none;
    }

    .hamberger {
        display: block;
    }

}

@media (max-width:290px) {

    h1 {
        font-size: 1.2rem;
    }

    .mail a {
        padding: 10px 4px;
        margin: 0;
        margin-top: 6px;
        overflow-wrap: anywhere;
        word-break: break-all;
        word-break: break-word;
    }

    .field textarea {
        width: 170px;
        height: 100px;
    }

}


@media (max-width:225px) {

    .img {

        padding: 12px 0;

    }

    .img img {

        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;

    }

}

@media (max-width:220px) {

    .field input {
        width: 145px;
    }

    .field input::placeholder {

        padding-left: 4px;

    }

    .field textarea {
        width: 140px;
    }

    .field textarea::placeholder {

        padding: 4px;

    }

}

@media (max-width:200px) {

    .project--card {

        width: 135px;

    }

    .field input {
        width: 100px;
        height: 40px;
    }

    .field textarea {
        width: 100px;

    }
}

@media (max-width:190px) {

    .project--card {

        width: 110px;

    }


}